body
{
  background-color: #DBDEC2;
  width: 100%;
  text-align: center;
}

h1{
  text-align: center;
  color: #4E7F66;
}

div
{
  float: left;
  height: auto;
  width: 45%;
  text-align: center;
}

button
{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #DDcB9a ;
  border: none;
  font-size:2.1em;
}

p {
    color: #A21207;
    text-align: center;
}
#sana{
    width: 70%;
    float: left;
    margin-top: 5%;
    text-align: center;
}
#sana input{
    width: 7%;
    padding: 3px;
    margin: 7px;
    text-align: center;
    border: none;
    border-bottom: 3px solid black;
    font-size: 25px;
}
#nollaa{
  margin-right: 2%;
  float: right;
  color: #939344 ;
  background-color: #DBDEC2;
}
